
body {
    background-color: rgb(42, 44, 46);
    margin: 0;
    display: flex;
    flex-direction: row;
}

.my-posts {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.user-profile {
    color: white;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background: #1dabb8;
}

#cercle {
    height: 40px;
    width: 40px;
    border-radius: 200px;
    background: #1dabb8;
}


.post {
    border: none;
    width: 50vw;
    min-height: 10vh;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
}

.post-content {
    display: flex;
    width: 100%;
}
.post-content p {
    margin: 0px 0;
    display: flex;
    text-align: start;
    width: 80%;
    word-wrap : break-word;     
}

.fa-heart {
    margin-left: auto;
    cursor: pointer;
}
.unlike{
    color:#ccc;
    }
  
.like{
    color: rgb(199, 0, 0);
}
html {
    font-family: sans-serif;
  }

form {
width: 600px;
background: #ccc;
margin: 0 auto;
padding: 20px;
border: 1px solid black;
}

form ol {
padding-left: 0;
}

form li, div > p {
background: #eee;
display: flex;
justify-content: space-between;
margin-bottom: 10px;
list-style-type: none;
}

input[type='file'] {
    color: transparent;
  }

::-webkit-file-upload-button {
    display: none;
 }

form img {
height: 64px;
order: 1;
}

form p {
line-height: 32px;
padding-left: 10px;
}

form label, form button {
background-color: #7F9CCB;
padding: 5px 10px;
border-radius: 5px;
border: 1px ridge black;
font-size: 0.8rem;
height: auto;
}

form label:hover, form button:hover {
background-color: #2D5BA3;
color: white;
}

form label:active, form button:active {
background-color: #0D3F8F;
color: white;
}
