
body {
    background-color: rgb(42, 44, 46);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.user-profile {
    color: white;
    display: flex;
    align-items: center;
    height: 25vh;
}

.change-picture {
    /* margin-left: auto; */
}
#profile-picture {
    margin-left: 30px;
    height: 100px;
    width: 100px;
    border-radius: 200px;
    background: #1dabb8;
    background-position: center center;
    background-size: 110%;
}

#cercle {
    height: 40px;
    width: 40px;
    border-radius: 200px;
    background: #1dabb8;
}

.username {
    margin-left: 30px;
}

.type {
    margin-left: auto;
    margin-right: 30px;
    height: 100%;
}

.button-bar button {
    /* float:left; */
    color: white;
    border: none;
    /* width: 18%; */
    width: 18vw;
    height: 60px;
    background-color: rgb(42, 44, 46);
    margin: 3px 3px 0 0;
}
.button-bar {
    background-color: white;
    display: flex;
    justify-content:flex-start;
}

.pages {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

#div1{
    display: block;
}
#div2 {
    display: none;
}
#div3{
    display: none;
}
#div4{
    display: none;
}

.post {
    border: none;
    width: 50vw;
    min-height: 10vh;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
}

.post-content {
    display: flex;
    width: 100%;
}

.post-content p {
    display: flex;
    text-align: start;
    width: 80%;
    word-wrap : break-word;     
}

.fa-heart {
    margin-left: auto;
    cursor: pointer;
}

.unlike{
    color:#ccc;
}
  
.like{
    color: rgb(199, 0, 0);
}
html {
    font-family: sans-serif;
}

