
body {
    background-color: rgb(42, 44, 46);
    margin: 0;
    display: flex;
    flex-direction: column;
}
#type-user {
    display: none;
}

.user-profile {
    color: white;
    display: flex;
    align-items: center;
    height: 25vh;
}

.back {
    margin-bottom: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.back button{

    color: white;
    background: none;
    border: none;
}

#profile-picture {
    margin-left: 5px;
    height: 100px;
    width: 100px;
    border-radius: 200px;
    background: none;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

#cercle {
    height: 30px;
    width: 30px;
    border-radius: 200px;
    background: none;
    background-position: center center;
    background-size: cover;
}

.username {
    margin-left: 30px;
}

.type {
    margin-left: auto;
    margin-right: 30px;
    height: 100%;
}

.button-bar button {
    font-family: Roboto,system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: larger;
    /* float:left; */
    color: white;
    border: none;
    /* width: 18%; */
    width: 18vw;
    height: 60px;
    background-color: rgb(42, 44, 46);
    margin: 3px 3px 0 0;
}
.button-bar .menubar:focus {
    outline: none;
    background-color: white;
    color: black;
}

.active {
    background-color: white;
}
.button-bar {
    background-color: white;
    display: flex;
    justify-content:flex-start;
}

.pages {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}
.post-container-body1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0;
    
}

#div1{
    display: none;
}
#div2 {
    display: none;
}
#div3{
    display: none;

}
#div4{
    display: none;

}
#div5{
    display: flex;

}
.post-container-body4 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    justify-self: center;
}

.post-container-body4 .type {
    margin-left: auto;
}
.post-container-body4 .name{
    margin-left: 10px;
}

.post {
    border: none;
    width: 50vw;
    min-height: 10vh;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
    background-color: #f1f1f1;
}

.post-content {
    display: flex;
    width: 100%;
}

.post-content p {
    display: flex;
    text-align: start;
    width: 80%;
    word-wrap : break-word;     
}

.fa-heart {
    margin-left: auto;
    cursor: pointer;
}

.unlike{
    color:#ccc;
}
  
.like{
    color: #a8bbd8;

}
.modify-post{
    border-radius: 5px;
    height: auto;
    width: 150px;
    position: absolute;
    margin-left: -170px;
    display: none;
    /* visibility: hidden; */
}

.all-posts {
    display: flex;
    align-items: center;

}
.like-counter{
    color:#ccc;
    font-size: smaller;
}

html {
    font-family: sans-serif;
}
.iconify {
    cursor: pointer;
}


input[type='file'] {
    color: transparent;
}

::-webkit-file-upload-button {
    display: none;
}

.elements-modify {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.13);
    padding: 0 20px;
    
    cursor: pointer;
    background-color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modify-text{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    font-size: large;

}
.notifs {
    position: absolute;
    padding: 3px;
    margin: 0;
    /* width: 1px; */
    background-color: #e63636;
    border-radius: 50px;
    margin-left: 40px;

}