body {
    margin: 0;
    background-color: rgb(42, 44, 46);
}





header{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.forum {
    margin-left: 40px;
}
.button_filters {
    background: none;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.button_filters:hover {
    color: rgb(220, 221, 221);
}

.SelectFilters {
    margin-left: 40px;
}
.filters {
    display: none;
    position: absolute;
}

.user-log{
    margin-left: auto;
    margin-right: 40px;
}

.picture-log {
    position: relative;
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cercle-log {
    cursor: pointer;
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 200px;
    background: #1dabb8;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.log-out  {
    cursor: pointer;
    padding: 5px;
    display: none;
    position: absolute;
    border: none;
}

.picture-log:hover .log-out {
    display: block;
}





main {
    background-color: white;
    padding: 10% 0 10%;
}

.container {
    display: flex;
    width: auto;
    flex-direction: column-reverse;
    align-items: center;
}

#cercle {
    height: 40px;
    width: 40px;
    border-radius: 200px;
    background: #1dabb8;
}

.post-comment{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post {
    display: flex;
    border: none;
    flex-direction: column;
    width: 50vw;
    min-height: 10vh;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer ;
}

.info-user-post{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.info-user-post p {
    margin: 0;
    margin-left: 15px;
}

.post-content {
    display: flex;
    width: 100%;
}

.post-content p {
    margin: 10px 0;
    margin-left: 55px;
    text-align: start;
    width: 80%;
    word-wrap : break-word; 
}


.comments {
    display: none;
    border: none;
    width: 30vw;
    min-height: 10vh;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
}

.fa-heart {
    margin-left: auto;
    cursor: pointer;
}


.unlike{
    color:#ccc;
}
  
.like{
    color: rgb(199, 0, 0);
}





footer {
    display: flex;
    color: white;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 5px 0;
}

