body {
    background-color: rgb(42, 44, 46);
}

header{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.button_profil {
    background-color: rgb(42, 44, 49);
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.container {
    display: flex;
    flex-direction: column-reverse;
}

main {
    background-color: white;
    padding: 10% 0 10%;
}

footer{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.button-images {
    max-width: 950px;
    margin: 75px auto;
    display: flex;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    display: flex;
    align-items: flex-start;
}
    
.button-container {
    position: relative;
    text-align: center;
    padding: 0;
    overflow:hidden; 
    display: flex;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    display: flex;
    align-items: flex-start;
}
    
.button-container A:before{  
    content: '';
    display: flex;
    height: 48%; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    display: flex;
    align-items: flex-start;
    width:100px;
    /* 
    vertical-align:middle; 
    height: 100%;*/
}
    
.button-container a {
    transition: all 1s ease-out;
    background: rgba(88, 88, 88, 0.7);
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    vertical-align:middle;
    padding:5%; 
    color: #FFFFFF;
    position:absolute;
    font-size: 1.125em; 
    font-weight: 700;  
    /* top: 0; */
    left:0;
    display: flex;
    align-items: flex-start;
    /* right:0;
    bottom:0; */
    width:9%;
    display:flex;
    text-decoration: none;
    text-transform:uppercase;
}
    
.button-container A:hover {
    background: none;
    border: none; 
    opacity:0;
    display: flex;
    align-items: flex-start;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
}

.button-container img{
    width:100px;
    height:100px; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    display: flex;
    align-items: flex-start;
}
  


.button-images {
    max-width: 950px;
    margin: 75px auto;
    display: flex;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    display: flex;
    align-items: flex-start;
}
.test {
    display: flex;
    align-items: flex-start;
}
.button-container2 {
    position: relative;
    /* text-align: center; */
    padding: 0;
    overflow:hidden; 
    display: flex;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    display: flex;
    align-items: flex-start;
}
    
.button-container2 A:before{  
    content: '';
    display: flex;
    height: 48%; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    display: flex;
    align-items: flex-start;
    /* 
    vertical-align:middle; 
    height: 100%;*/
}
    
.button-container2 a {
    transition: all 1s ease-out;
    background: rgba(88, 88, 88, 0.7);
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    vertical-align:middle;
    padding:5%; 
    display: flex;
    align-items: flex-start;
    color: #FFFFFF;
    position:absolute;
    font-size: 1.125em; 
    font-weight: 700;  
    /* top: 0;
    left:0;
    /* right:0;
    bottom:0; */
    width:9%;
    display:flex;
    text-decoration: none;
    text-transform:uppercase;
}
    
.button-container2 A:hover {
    background: none;
    border: none; 
    opacity:0;
    border-radius:50%;
    -moz-border-radius:50%;
    display: flex;
    align-items: flex-start;
    -webkit-border-radius:50%;
    width:100px;
}

.button-container2 img{
    width:100px;
    height:100px; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    display: flex;
    align-items: flex-start;
    width:100px;
}

