<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/style.css">
    <script src="/views/script.js"></script>
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>Forum</h1>
        <div class="SelectFilters">
            <button onclick="SelectFilters()" class="button_profil">Filters</button>
            
            <form action="/filters" method="post" class="choiceCategory" name="Category">
                <select name="categ">
                    <option value="None">None</option>
                    {{range .PostCategory}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
                <button name="Confirm">Apply</button>
            </form>
        </div>
        <div id="user-profile">
            <form action="/login">
                <button class="button_login">Login</button>
            </form>
            <form action="/adduser">
                <button class="button_sign_up">Sign up</button>
            </form>
        </div>
        <div class="dropdown" id="name">
            <form action="/profile" method="post">
                <button class="button_profil">{{.User.Username}}</button>
            </form>
            <form action="/logout" method="POST" class="dropdown-content">
                <button>Log out</button>
            </form>
        </div>
    </header>
    <main>
        <div class="container">
            {{range .Post}}
                <div class="post-comment">
                    <form id="addNewComment">
                        <input type="hidden" name="post_id" value="{{.Pid}}">
                        <button onclick="NewComment(id)" id="{{.Pid}}" type="button" class="post">
                            <div class="info-user-post">
                                <div id="cercle"></div>
                                <p>{{.Username}}</p>
                                <i class="fa fa-heart unlike"></i>
                            </div>
                            <div class="post-content">
                                <p>{{.Content}}</p>
                            </div>
                        </button>
                        <div id="comment{{.Pid}}" class="comment"></div>
                    </form>

                    {{range .Comments}}
                    <button class="comments">
                        <div class="info-user-post">
                            <div id="cercle"></div>
                            <p>{{.Username}}</p>
                            <i class="fa fa-heart unlike"></i>
                        </div>
                        <div class="post-content">
                            <p>{{.Content}}</p>
                        </div>
                    </button>
                    {{end}}

                    <!-- {{range .Comments}}
                    <div class="post">
                        <div id="cercle"></div>
                        <div class="post-text">
                            <p>{{.Username}}</p>
                            <p>{{.Content}}</p>
                        </div>
                        <div class="like"></div>
                    </div>
                    {{end}} -->
                </div>
            {{end}}
        </div>
        <div class="addpost">
            <form action="/addpost">
                <button>Post</button>
            </form>
        </div>
    </main>
    <footer>
        <p>Copyright © 2020</p>
        <p>All rights reserved</p>
    </footer>
    <script> UserProfile("{{.User.Username}}");</script>
    <script>
        //favorite heart like/unlike
        document.querySelectorAll(".fa-heart")
        .forEach(function(el) {  
        el.addEventListener("click",
            function() {
            if (this.classList.contains("unlike"))
                this.classList.toggle("like");
            else this.classList.toggle("unlike");
            });
        });
    </script>
</body>
</html>




