<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/profil.css">
    <link rel="icon" type="image/x-icon" href="/views/i2.ico">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="/views/script.js"></script>
    <title>Profil - Forum</title>
</head>
<body>
    <input id="type-user" type="hide" value="{{.User.Type}}">

    <div class="user-profile">
        <form action="/" method="post" class="back">
            <button ><i class="fa fa-arrow-left fa-lg"></i></button>
        </form>
        {{if ne .Notifs 0}}
        <p class="notifs">{{.Notifs}}</p>
        {{end}}
        <form action="/avatar" method="post" enctype="multipart/form-data" class="change-picture" id="form">
            <input type="file" id="profile-picture" name="image_uploads" accept=".jpg, .jpeg, .png, .gif" multiple style="background-image: url('profil/{{.User.Avatar}}');" >
        </form>
        <h2 class="username">{{.User.Username}}</h2>
        
        <div class="type">
            <p>{{.User.Type}}</p>
        </div>
    </div>
    
    <div class="button-bar">
        <button id="menubar" onclick="replace(5)" class="menubar" autofocus>Notifications</button>
        <button id="menubar" class="menubar" onclick="replace(1)" >Posts</button>
        <button id="menubar" onclick="replace(3)" class="menubar hide">Categories</button>
        <button id="menubar" onclick="replace(4)" class="menubar hide">Users</button>
        <button class="end-line" style="flex: 2 1 0; margin-right: 0;"></button>
    </div>

    <div class="pages" id="div1">

        <div class="post-container-body1">
            {{range .Post}}
            <div class="all-posts">
                <div class="modify-post" id="modify-post{{.Pid}}">
                    <form action="/delete" method="post" >
                        <button class="elements-modify">
                            <input type="hidden" name="pid" value="{{.Pid}}">
                            <p>Delete</p>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                    <button onclick="modifypost(id)" id="{{.Pid}}" class="elements-modify">
                        <p>Modify</p>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>

                </div>

                <span onclick="modify(id)" id="modify-post{{.Pid}}" class="iconify" data-icon="feather:more-vertical"></span>

                <button class="post">
                    <form action="/modify" method="post">
                        <input type="hidden" name="pid" value="{{.Pid}}">
                        <div class="post-content " id="post-content{{.Pid}}">
                            <p>{{.Content}}</p>
                        </div>
                    </form>

                </button>
            </div>
            {{end}}
        </div>
    </div>

    <div class="pages" id="div3">
        <div class="post-container-body">
            {{range .PostCategory}}
            {{.}}
            {{end}}
            <form action="/addcategory" method="post">
                <input type="text" name="category">
                <button>Add Category</button>
            </form>
        </div>
    </div>
    <div class="pages" id="div4">
        {{range .Users}}
        <div class="post-container-body4">
            <form action="/promote" method="post" >
                <button name="promotion" value="promote {{.Uid}} {{.Type}}">Promote</button>
                <button name="promotion" value="demote {{.Uid}} {{.Type}}">Demote</button>
            </form>
            
            <div id="cercle" style="background-image: url('profil/{{.Avatar}}');"></div>
            <p class="name">{{.Username}}</p>
            <p class="type">{{.Type}}</p>

        </div>
        {{end}}

    </div>
    <div class="pages" id="div5">
        {{range .Notifications}}
        <div class="post-container-body4">
            {{.}}
        </div>
        {{end}}

    </div>

    <script>
        document.getElementById("profile-picture").onchange = function() {
        document.getElementById("form").submit();
    };
        if (document.getElementById('type-user').value != 'admin') {
            var hidden = document.getElementsByClassName('hide')
            for (var i = 0; i < hidden.length; i++) {
                hidden[i].style.display = 'none';
            }
        }
        
        
    </script>
    
</body>
</html>