<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/profil.css">
    <link rel="icon" type="image/x-icon" href="/views/i2.ico">
    <script src="/views/script.js"></script>
    <title>Profil - Forum</title>
</head>
<body>
    <input id="type-user" type="hide" value="{{.User.Type}}">

    <div class="user-profile">
        <form action="/" method="post" class="back">
            <button ><i class="fa fa-arrow-left fa-lg"></i></button>
        </form>
        
        <form action="/avatar" method="post" enctype="multipart/form-data" class="change-picture" id="form">
            <input type="file" id="profile-picture" name="image_uploads" accept=".jpg, .jpeg, .png, .gif" multiple style="background-image: url('profil/{{.User.Avatar}}');" >
        </form>
        <h2 class="username">{{.User.Username}}</h2>
        
        <div class="type">
            <p>{{.User.Type}}</p>
        </div>
    </div>
    <div class="button-bar">
        <button onclick="replace(1)">Posts</button>
        <button onclick="replace(2)">Likes</button>
        <button onclick="replace(3)">Notifications</button>
        <button onclick="replace(4)" class="hide">Categories</button>
        <button onclick="replace(5)" class="hide">Users</button>
        <button class="end-line" style="flex: 2 1 0; margin-right: 0;"></button>
    </div>

    <div class="pages" id="div1">
        <div class="post-container-header">
            <h2>Posts</h2>
        </div>
        <div class="post-container-body">
            {{range .Post}}
            <button class="post">
                <div class="post-content">
                    <p>{{.Content}}</p>
                    <i class="fa fa-heart unlike" name="like" value="unlike"></i>
                </div>
            </button>
            {{end}}
        </div>
    </div>
    <div class="pages" id="div2">
        <div class="post-container-header">
            <h2>Likes</h2>
        </div>
        <div class="post-container-body">
            <h3>Title</h3>
            <h3>Category</h3>
            <h3>Likes</h3>
            <h3>Comments</h3>
            <h3>Date</h3>
        </div>
    </div>
    <div class="pages" id="div3">
        <div class="post-container-header">
            <h2>Likes</h2>
        </div>
        <div class="post-container-body">
            <h3>Title</h3>
            <h3>Category</h3>
            <h3>Likes</h3>
            <h3>Comments</h3>
            <h3>Date</h3>
        </div>
    </div>
    <div class="pages" id="div4">
        <div class="post-container-header">
            <h2>Categories</h2>
        </div>
        <div class="post-container-body">
            {{range .PostCategory}}
            {{.}}
            {{end}}
            <form action="/addcategory" method="post">
                <input type="text" name="category">
                <button>Add Category</button>
            </form>
        </div>
    </div>
    <div class="pages" id="div5">
        <div class="post-container-header">
            <h2>Users</h2>
        </div>
        <div class="post-container-body">
            {{range .Users}}
            <div id="cercle" style="background-image: url('profil/{{.Avatar}}');"></div>
            <p>{{.Username}}</p>
            {{end}}
        </div>
    </div>

    <script>
        document.getElementById("profile-picture").onchange = function() {
        document.getElementById("form").submit();
    };
        if (document.getElementById('type-user').value != 'admin') {
            var hidden = document.getElementsByClassName('hide')
            for (var i = 0; i < hidden.length; i++) {
                hidden[i].style.display = 'none';
            }
        }
    </script>
    
</body>
</html>